@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@import url("./src/styles/base.css");
@import url("./src/styles/form.css");
@import url("./src/styles/header.css");
@import url("./src/styles/home-section.css");
@import url("./src/styles/icons-animation.css");
@import url("./src/styles/sections.css");
@import url("./src/styles/slider.css");
@import url("./src/styles/users-table.css");

:root {
  --primary-color: yellowgreen;
  --white: #fafafa;
  --secondary-white: #d8d6d6;
  --black: rgb(2, 2, 2);
  --primary-gray: #565656;
  --secondary-gray: #acacac;
  --primary-dark-gray: #252525;
  --secondary-dark-gray: #333;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "JetBrains Mono", monospace;
}
